:root {
  --background: #f3f5fe;
  --bg: hsla(0, 7%, 89%, 1);
  --primary: #f0f0f0;
  --secondary: #41D1FF;
  --purple: #BD34FE;
  --yellow: #FFA800;
  --white: rgba(255, 255, 255, 0.87);
  --text: #242424;
  --box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
  font-weight: 400;
  list-style: none;
  text-decoration: none;
}